// Variables
$mo-black: #161616;
$mo-white: #fff;
$mo-velvet: #7144c5;
$mo-green: #6de6a4;

$font-super-light:200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

$primary-font:'Oswald', sans-serif;

// Mixins

@mixin getAnimation($delay) {
    animation: main-animation;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    animation-delay: $delay;
    opacity: 0  ;
}

// Global Style 

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;;
}

// Main Style

.main-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $mo-black;
}

    .main-content  {
        width: 375px;
        height: 667px;
        border: 1px solid $mo-velvet;
        border-radius: 24px;
        position: relative;    
    }

        .main-logo-image {
            @include getAnimation(100ms);
            width: 32px;
            height: 32px;
            margin: 48px 0 48px 24px;
            position: relative;
        }

        .main-title {
            @include getAnimation(150ms);
            text-transform: uppercase;
            line-height: 3rem;
            width: 70%;
            color: $mo-white;
            margin: 0 0 24px 24px;
            position: relative;
            font: {
                size: 3rem;
                weight: $font-bold;
                family: $primary-font;
            }
        }

        .main-description {
            @include getAnimation(200ms);
            color: $mo-white;
            width: 80%;
            margin: 0 0 0px 24px;
            letter-spacing: .75px;
            position: relative;
            font: {
                size: 1rem;
                weight: $font-super-light;
                family: $primary-font;
            }
        }

        .main-author-content {
            @include getAnimation(250ms);
            display: flex;
            align-items: center;
            margin: 48px 0 0 24px;
            position: relative;
            .author-image {
                width: 48px;
                height: 48px;
                border-radius: 48px;
                background: url(https://images.unsplash.com/photo-1517213157055-883855e6934b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=363bcaccc9b53ae4a9feb357902e73eb&auto=format&fit=crop&w=634&q=80) center center / cover no-repeat;
            }

            .author-information {
                margin-left: 16px;
                color: $mo-white;
                font: {
                    size: 14px;
                    family: $primary-font;
                    weight: $font-regular;
                }
            }
                .author-data {
                    display: flex;
                }
                    .author-follow {
                        margin-left: 16px;
                        padding: 0 8px;
                        border: 1px solid $mo-velvet;
                        border-radius: 16px;
                        color: $mo-velvet;
                        text-transform: uppercase;
                        transition: 150ms ease-in-out;
                        cursor: pointer;
                        font: {
                            size: 12px;
                        }
                        &:hover {
                            color: $mo-black;
                            border: 1px solid $mo-velvet;
                            background: $mo-velvet;
                        }
                    }

                .article-data {
                    color: lighten($mo-black, 30%);
                    margin-top: 4px;
                    font: {
                        size: 12px;
                        weight: $font-medium;
                    }
                }

        }

        .main-button {
            @include getAnimation(300ms);
            position: absolute;
            bottom: 0;
            margin: 0 0 72px 24px;
            border:none;
            outline: none;
            background: transparent;
            color: $mo-velvet;
            text-transform: uppercase;
            letter-spacing: 3px;
            transition: 150ms ease-in-out;
            font: {
                size: 14px;
                family: $primary-font;
                weight: $font-bold;
            }

            &:hover {
                color: $mo-green;
                text-decoration: line-through;
            }
        }

        @keyframes main-animation {
            0% {
                bottom: -100px;
                opacity: 0;
            }

            100% {

                bottom:0 ;
                opacity: 1;
            }
        }